@{
    ViewBag.Title = "Survey Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img id="loadImg" src='../Content/assets/images/loading.gif' width='100' style="position:fixed; margin-top:20%; margin-left:35%; z-index:111; display:none" />

<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center">Do You Want to Delete?</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer text-center">
                <a class="btn btn-danger" id="deleteId">Yes</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="updateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center text-bold">Update Survey</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="surveyform" action="@Url.Action("PostUpdateSurvey", "Admin")" method="post">
                    <input type="hidden" name="Id" id="updateId" />
                    <div class="form-group">
                        <label for="modal-name" class="col-form-label text-bold">Title<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Your Title" id="updateTitle" name="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="modal-name" class="col-form-label text-bold">Description<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Description Here" id="updateDescription" name="Description" required>
                    </div>
                    @{
                        var getCount = "";
                        for (int i = 0; i < 9; i++)
                        {
                            var j = i + 1;
                        <div class="form-group">
                            <label class="text-bold">Category @j<span class="text-danger">*</span></label>
                            <input type="text" class="form-control cat_@i" placeholder="Enter Your Category" required>
                        </div>

                        <div class="form-group" style="padding-left: 27px;">
                            <label class="text-bold">Scenario<span class="text-danger">*</span></label>
                            <input type="text" id="asc_@i" class="form-control sc_@i" placeholder="Enter Your Scenario 1" required>
                            <input type="text" id="bsc_@i" class="form-control sc_@i" placeholder="Enter Your Scenario 2" required>
                            <input type="text" id="csc_@i" class="form-control sc_@i" placeholder="Enter Your Scenario 3" required>
                            <input type="text" id="dsc_@i" class="form-control sc_@i" placeholder="Enter Your Scenario 4" required>
                        </div>

                        }
                    }
                    <input id="ctsn" type="hidden" name="Cat_n_Scn" value="" />
                    
                    <div class=" col-lg-12">
                        <label class="text-bold">Enter a Question<span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control openEnd_0" placeholder="Enter Name here..." required autocomplete="off"></textarea><br>
                    </div>
                    <div class=" col-lg-12">
                        <label class="text-bold">Enter a Question<span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control openEnd_1" placeholder="Enter Name here..." required autocomplete="off"></textarea><br>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="sub" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*Link with search datatable*@
<div class="row m-5" style=" border:2px solid #424ef4; border-radius:10px; color:white;">
    <div class="col-xs-12" style="background-color:#0005A7; border-radius:10px;">
        <div class="row">

            <div class="col-md-6 col-lg-6" style="padding: 20px;padding-top:20px;">
                <div class="form-group">
                    <label><strong>Title:</strong></label>
                    <input type="text" placeholder="  Search Title Here" class="form-control" id="searchTitle" style="background-color:white">
                </div>
            </div>

            <div class="col-md-6 col-lg-6" style="padding: 20px;padding-top:20px;">
                <div class="form-group">
                    <label><strong>Description:</strong></label>
                    <input type="text" placeholder="  Search Description Here" class="form-control" id="searchDescription" style="background-color:white">
                </div>
            </div>
        </div>
        <div class="row">
            <div style="padding: 20px;">
                <div class="form-group">
                    <button onclick="SearchUser()" class="btn btn-primary pull-right">Search</button><br />
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="clearfix">
    <h3 class="text-center">
        <u>Survey List</u>
    </h3>
</div>
<br />

<div style="min-height:700px">
    <div style="font-weight:bold; font-size:15px; color:@ViewBag.Color ; margin-left:10px;" id="alertMsg">
        @ViewBag.Message
    </div>
    <div class="datatable-scroll table-bordered p-10">
        <table class="table no-footer table-responsive table-striped" id="userTable">
            <thead class="bg-blue-400">
                <tr>
                    <th>
                    </th>
                    <th class="text-bold">
                        Title
                    </th>
                    <th class="text-bold">
                        Description
                    </th>
                    <th class="text-bold text-center">
                        Actions
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<input type="hidden" value="" id="getCompanyTotalSurveys"/>
<script>
    var CompanyTotalSurveys = $("#CompanyTotalSurveys").val();
    loadTable();
    function loadTable(title, description) {
        $('#userTable').DataTable(
            {
                "ajax":
                {
                    "url": '@Url.Action("GetSurveyList", "Admin")',
                    "type": "POST",
                    "datatype": "json",
                    "data": { Title: title, Description: description }
                },
                'columns':
                    [
                        { "data": "hidden", "name": "0" },
                        { "data": "Title", "name": "Title" },
                        { "data": "Description", "name": "Description" }
                    ],
                'columnDefs':
                    [
                        {
                            "targets": 0,
                            "visible": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, full, meta) {
                                return null;
                            }
                        },
                        {
                            "targets": 1,
                            'className': 'col-lg-3',
                            "orderable": true,
                            "render": function (data, type, full, meta) {
                                // return '<div class="text-center">' + full.Name + '</div>';
                                return full.Title;
                            }
                        },
                        {
                            "targets": 2,
                            'className': 'col-lg-4',
                            "orderable": false,
                            "render": function (data, type, full, meta) {
                                return full.Description;
                            }
                        },
                        {
                            "targets": 3,
                            'className': 'col-lg-2',
                            "orderable": false,
                            "render": function (data, type, full, meta) {
                                
                                return '<ul class="icons-list text-center"> <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-menu9"></i> </a> <ul class="dropdown-menu dropdown-menu-right"> ' +
                                    //'<li><a class="text-onfo" onclick="UpdateUser(' + full.Id + ', 1)"><i class="icon-pencil"></i> Update Survey</a></li>' +
                                    '<li><a class="text-onfo" href="../Admin/UpdateSurvey?Id='+full.EncId+'"><i class="icon-pencil"></i> Update Survey</a></li>' +
                                    '<li><a class="text-danger" onclick="deleteFunction(' + full.Id + ')" data-toggle="modal" data-target="#deleteModal"><i class="glyphicon glyphicon-floppy-remove"></i> Delete</a></li>' +
                                    '</ul></li></ul>';
                            }
                        }
                    ],
                "serverSide": "true",
                "processing": "true",
                "language":
                {
                    "processing": "<img src='../Content/assets/images/loading.gif' width='100'/>",
                    "search": "<span>Search :</span> _INPUT_",
                    //"searchPlaceholder": "Search...",
                    "lengthMenu": "<span>Show :</span> _MENU_",
                    "paginate": { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
            }
        );
    }

    function SearchUser()
    {

        $('#userTable').DataTable().clear();
        $('#userTable').DataTable().destroy();

        var title = document.getElementById("searchTitle").value;
        var description = document.getElementById("searchDescription").value;

        loadTable(title, description);
    }

    //View Categories and Scenarios
    function UpdateUser(id)
    {
        $('#loadImg').show();

        $.ajax({
            type: 'POST',
            url: "../Admin/GetSurveyById",
            dataType: "json",
            data: {
                id: id
            },
            success: function (response)
            {
                //console.log(response);
                $('#updateId').val(response.Id);
                $('#updateTitle').val(response.Title);
                $('#updateDescription').val(response.Description);
                $('#getCompanyTotalSurveys').val(response.CompanyTotalSurveys);
                
                $('#updateModal').modal('show');
                $('#loadImg').hide();

                var getCatnScn = JSON.parse(response.Category_Scenarios);

                //console.log("catnSN", getCatnScn);

               var i = 0;

               $.each(getCatnScn, function (key, valueObj) {
                       
                   //console.log("key " + i, key);
                   //console.log("valueObj " + i, valueObj);
                        
                   var getalpha = ['a', 'b', 'c', 'd'];

                   if (i == 0) {
                       console.log("Obj 1", valueObj);
                   }
                   if (!key.includes("Open")) {
                       $(".cat_" + i).val(key);


                       for (var j = 0; j < 4; j++) {
                           $("#" + getalpha[j] + "sc_" + i).val(valueObj[j]);
                       }


                   }
                   else {

                       for (var j = 0; j < 2; j++) {
                           $(".openEnd_" + j).val(valueObj[j]);
                       }
                   }
                   i++;

                });
                
            },
            error: function () {
                alert("ajax Failed");
            }
        });
    }

    function deleteFunction(id)
    {
        var a = document.getElementById('deleteId');
        a.href = "../Admin/DeleteSurvey?id=" + id + "";
    }


    $("#sub").click(function () {
        var Categories = [];
        var Scenarios = [];

        var getvalidate = document.getElementById("surveyform").reportValidity();
        $("[class*='cat_']").each(function () {
            Categories.push($(this).val());
        });
        Categories.push("Open Ended Questions");

        //for (let i = 0; i < 9; i++) {
        for (let i = 0; i < CompanyTotalSurveys; i++) {
            var arr = [];
            $(".sc_" + i).each(function () {
                arr.push($(this).val());
            });
            Scenarios.push(arr);
        }

        //for openended questions
        var openEndarr = [];
        $("[class*='openEnd']").each(function () {
            openEndarr.push($(this).val());
        });
        Scenarios.push(openEndarr);

        //console.log("Categories",Categories);
        //console.log("Scenarios",Scenarios);
        var x = Scenarios.associate(Categories);
        x = JSON.stringify(x);
        $("#ctsn").val(x);

        //console.log("Dictona",x);
        if (getvalidate == true) {
            $("#surveyform").submit();
        }
    });
</script>
